@page "/todolist"
@model ToDoApp.Pages.ToDo.ToDoListModel


<h1>ToDo List</h1>

@foreach (var item in Model.ToDoItems)
{
    <div>@item.Title</div>
    <div>@item.Details</div>
    <div>@item.IsCompleted</div>
    <div><p>---------------------------</p></div>
}
